*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
/*raiz , estou a criar variaveis*/

    --primary : #4f46e5;
    --secondary : #7c3aed;
    --dark : #0f172a;
    --moredark : #0a0f1c;
    --light: #e2e8f0;
    --vidro: rgba(255, 255 ,255, 0.1)

}

body{
    background-color: var(--dark);
    color: var(--light);
}

.navbar{
    position: fixed;
    top: 0; 
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: inherit; /*garante quem fica em frente de quem*/
    padding: 1.5rem;

}

.menu{
    display: flex; /*deixa todos em linha*/
    justify-content: center;
    list-style: none;/*tirar aquelas bolinhas da lista*/
    gap: 3em;/*espacamento*/
}
.menu-link{
    text-decoration: none;
    color: var(--light);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

/*after / before  >> coisas que posso escolher pra fazer antes ou depois*/ 

.menu-link::after{
    content: " "; /*é obrigatório colocar content*/
    height: 2px;
    width: 0; /*sem hover a largura é 0*/
    position: absolute; /*posicao absolute, n se mexe*/
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
   
}

/*navbar termina aqui*/

.header{
    min-height: 100vh; /*vh é a tela toda, ennt minimo é a tela toda*/
    display: flex; /*habilita algumas coisa como as que vao ser usadas abaixo*/
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
  
.photo-profile{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

h1{
    font-size:3.5em;
    color: var(--primary);
    font-weight: bold;
    margin:20px;
}

.header-subtitle{
    font-size: 1.5rem;
    color: var(--light);

}

/*primeira pagina termina aqui*/

.about{
    padding: 6rem 2rem;

}

.title-about{
    text-align: center;
    font-size: 3rem;
    color: var(--light);
    margin-bottom:20px ;
}

.box-about{

    padding: 2rem;
    max-width: 800px;/*para nunca crescer mmuito, acima disso*/
    margin: 0 auto; /*em cima sem margin, mas dos lados alinha para mim e centraliza*/
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);/*adiciona um filtro e o estilo é 'blur'. Para colocar filtro ele deve ter um back-ground*/
    background: rgba(255, 255, 255, 0.05);

}

.paragraph-about{
    text-align: center;
    font-size: 1.2rem;
    
}

/*O about ermina aqui*/


.projects{
    padding: 6rem 2rem;
}

.title-projects{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    
    
}

.image-projects{
    height: 200px;
    width: 100%;
    object-fit: cover; /*cobre a e se encaixa na area onde está respeitando os maximos que dei*/
}

.box-projects{
    display: grid; /*organiza os itens como um grid.Podemos organizar como queremos*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /*encaixa todo intens na tela e de modo que tenham todos mesmo tamanho. auto-fit se encaixa automaticamente no tamanho que tem disponivel.  minmax define o minimo e o maximo da tela.. min 300px e maximo 1fr <fracao> que é a tela toda*/

    gap: 2rem;
    max-width:1200px;
    margin: 0 auto;
}

.box-text-projects{
    padding: 2rem;

}

.card-projects{
    background: rgba(255, 255, 255, 0.05) ;
    border-radius: 16px;
    backdrop-filter: blur(5px) ;
    border: 1px solid var(--vidro);
    overflow: hidden; /*caso fica grande a imagem ou sla, ele esconde a sobra e nao sai do card*/
    transition: all 0.5s ease;
}

.card-projects:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03); /*movimenta no eixo y -10px e aumenta a escala*/
    cursor: pointer;

}

.info-projects{
    margin-bottom: 5px;
}

.paragraph-projects{
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem; /*linha fica mais alta*/
}

/*projectos termina aqui*/


.contacts{

    margin-bottom: 200px;

}

.title-contacts{

    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.form-contacts{

    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}


.field-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--light);
    outline: none;
    

}

/*quando eu puser foco vai acontecer alguma coisaa*/

.field-form:focus{
    border-color: var(--secondary);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3) ;
}

.group-form{
    margin-bottom: 1.5rem;
}

.button-form{
    color: var(--light);
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.button-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4) ;
    


}

